.nav{
    grid-area: n;
    background-color: red;
    padding: 20px;
}

.nav ul{
    margin-left: 5px;
    padding-left: 5px;
}

.nav li{
    list-style-type: none;

}
.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color: gold;
}